.nav > li > a {margin-left:30px;}

a {font-size:18px;
   color: gold; 
   padding: 25px;
}

a.port-contact {font-size:18px;
                color:gold;
                padding:10px;}


a:hover {
         text-decoration: none;
         color: blue;
}


body {background-image: url("../img/eaglenebula.jpg");
      margin-top: 0;
      text-align: center;
      color: black; 

  width: 100%;
  height: 100%;
 

      font-family: 'EB Garamond', serif; 
}

.bg-img {
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}

#b1, .bg1 { background-image: url("../img/eaglenebula.jpg"); }
#b2, .bg2 { background-image: url("../img/northernlights.jpg"); }
#b3, .bg3 { background-image: url("../img/sunrise.jpg");} 

#b1 .bg1, 
#b2 .bg2,
#b3 .bg3 {opacity: 1;
          visibility: visible;}




body h1 {font-size: 36px;
         text-align: center; 
         color: silver;/*#A7742E;*/
}



button.btn.btn-default {
      display:none;
      text-align: center;
      width: 50px;
      height: 35px;
      margin-left: auto;
      margin-right: auto;
}


#caption1, #caption2, #caption3, #caption4 {font-size: 18px;
                                            text-align: center;
                                            text-overflow: right;
                                            color:white;
}


.centerform  {
              display: block;
              text-align: center;
}


.container {color: silver;
            }
   /* Intregrate SCSS 
        h1   {
               color: silver;
               text-shadow: 3px 3px black;
} */
.container::after {background: black;}

.container h1 {
               color: silver;
               text-shadow: 3px 3px black;
} 


.col-md-12  {text-align: center;}


#email {
        color: #D16F2E;
}

footer {
        text-align: center;
        color: white;
}



form {  
      background-color: white;
      margin-top: 50px;
      transition: all 4s ease-in-out;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      color: black;
}


.form-control {
               text-align: center;
               width:500px;
               background: transparent;
               border: none;
               outline: none;
               border-bottom: 1px solid grey;
               color: black;
               font-size: 18px;
               margin-bottom: 16px;
}


form input {
            text-align: center;
}

form .submit
{
    background:#ff5722;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
                    background-color: #f44326;
                    cursor: pointer;
}


h1 {color: black;
    text-shadow: 2px 2px 5px black;
}

h2 {
    color:white;
    text-shadow: 2px 2px black;
}

h3 {
    color:white;
}

h3.panel-title {
                color: black;
}


i {
   color: white;
}

    



img { background-size: contain;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd; 
      border-radius: 4px;  
      padding: 5px; 
      width: 600px; /* Set a small width */
 }
     
  a img {margin-left: 20px;}

    /* Add a hover effect (blue shadow) */
    
img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }



.img-full{
          width:100%;
}



input {
       height: 45px;
}




.jumbotron-main {background-color:transparent;
                   margin-top:60px;
                   margin-bottom:30px;
                 
}



nav a:hover {
             color: cyan;
             background-color: transparent;
}

nav ul li a {text-align: center;
             padding-right: 50px;}

.nav > li > a:hover {
                     background-color: transparent;
}


.panel-default {text-align: center;}


p .lead {
         margin top: -130px;
}

.port-bg {
  background-image: url("../img/eaglenebula.jpg");
}
 
ul.nav {text-align: center;
      }


.scriptcolor h3 {
  color:cyan; 
  text-align: center;
}

strong {
  color:lightgrey;
  text-shadow: 1px 1px black;}


#text {color: silver;}


#thumb1, #thumb2, #thumb3, #thumb4
            {max-width: 600px;
             height: auto;
             text-align: center;
             margin-left: auto;
             margin-right: auto;}


/*ul li {text-align: left;

      }*/



ul.service {color: black;
            text-align: left; 
            list-style-type: none;
            text-decoration: none;
            font-size: 20px;}


#works {list-style-type: none; text-decoration: none;}
#works a:hover {text-decoration: none;}
#works a {color: gold;}
#works a:visited {color: green;}
#works a:hover {color: blue;}  
#works a {font-size: 1em;}                    




.wrapper {
  width: 100%;
  perspective: 800;
}

.cube {
  position: relative;
  top: 160px;
  margin: 0 auto;
  height: 150px;
  width: 150px;

  animation: spin 10s infinite linear;
  transform-style: preserve-3d;
}

@keyframes spin {
  from {
    transform: rotateY(0) rotateX(0);
  }
  to {
    transform: rotateY(-360deg) rotateX(360deg);
  }
}

.cube > div {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid #333;
  opacity: 0.8;
}

.cube > div:hover {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.one {
  transform: rotateX(90deg) translateZ(100px);
  background-color: red; /* #E3493B;*/
}

.two {
  transform: translateZ(100px);
  background-color: black; /*#23B5AF;*/
}

.three {
  transform: rotateY(90deg) translateZ(100px);
  background-color: royalblue; /*#E8487F;*/
}

.four {
  transform: rotateY(180deg) translateZ(100px);
  background-color: white; /*#28B78D;*/
}

.five {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: gold; /*#FF5B00;*/
}

.six {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: green; /*#FEEB51;*/
}



/* Begin Media Queries */
@media screen and (max-width: 959px) and (min-width: 641px) {
    

    .container {width:100%;}
    
     nav    {width:100%;
             padding:15px;
             text-align:center;  
             display: inline;}                  

     nav.navbar ul  {display: inline-block;
                     text-align: center;}
                    }
     .nav-toggle {display: inline-block;}             
      
    body {font-size: 16px;}
    }
 
@media only screen and (max-width: 600px) { 
      body {max-width: 100%;
      font-size:12px;}
  }   

      nav {
      width:100%;
      text-align:center;  
      display: inline;}

      .nav-toggle {display: inline-block;
                 }             
      .navbar {
        width: 320px;
    }


@media screen and (max-width: 480px) and (min-width: 321px){
   body {font-size: 12px;}
   .container {width:100%;}



   .nav-toggle {display: inline-block;}
    nav    {width:auto;
           text-align:center;  
           display: inline;}                     

    nav.navbar ul  {display: inline;
                    text-align: center;}
            }


 @media screen and (max-width:320px){
    
    body {
          max-width: 100%;
          font-size: 12px;
  }
  .bg-img {
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-out;
}

.bg1 { background-image: url("../img/eaglenebula.jpg"); }
.bg2 { background-image: url("../img/northernlights.jpg"); }
.bg3 { background-image: url("../img/sunrise.jpg");} 

#b1 .bg1, 
#b2 .bg2,
#b3 .bg3 {opacity: 1;
          visibility: visible;}
    .container {width:320px;}
    nav            {width:100%;
                   text-align:center;  
                   display: none;}               
    .navbar {width:320px;}

    .nav-toggle {display: inline-block;}
    nav.navbar ul  {display: inline;
                   text-align: center;
            }
}
/* End Media Queries */











