a {font-size:14px;
   color:cyan; 
   padding: 0 25px;
   margin:0;
}

a.port-contact {font-size:18px;
                color:gold;
                padding:10px;}


a:hover, a:focus {
         color: rgb(0, 89, 255);
         text-decoration: none;
}

a:visited {
           color: white;
}

.address-contact {
                  font-size: 18px;
                  color: gold;
}

body { 
     background-image: radial-gradient(lightgrey, grey, black);
     margin-top: 0;
     width: 100%;
     height: 100%;
     font-size: 48px;
     font-family: serif; 
}

body h1 {font-size: 48px;
         text-align: center; 
         color: silver;/*#A7742E;*/
}


div.callaction {
                color: cyan;
}

#caption1, #caption2, #caption3, #caption4 {
                                            font-size: 14px;
                                            text-align: center;
                                            color:white;
}


.centerform  {
              display: block;
              text-align: center;
}

.container::after {
                   background: black;
}

.container h1 {
               color: silver;
               text-shadow: 2px 2px white;
} 

.col-md-12  {
             text-align: center;
}

#email {
        color: #D16F2E;
}

footer {
        text-align: center;
        color: white;
}



form {  
      background-color: white;
      margin-top: 50px;
      transition: all 4s;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      color: black;
}


.form-control {
               font-family: 'Times New Roman', Times, serif;
               text-align: center;
               border: none;
               outline: none;
               border-bottom: 1px solid grey;
               color: black;
               font-size: 18px;
               margin-bottom: 16px;
}


form input {
            text-align: center;
}

form .submit{
             background:blue;
             border-color: transparent;
             color: white;
             font-size: 16px;
             font-weight: bold;
             letter-spacing: 2px;
             height: 50px;
             margin-top: 20px;
}

form .submit:hover {
                    background-color:cyan;
                    cursor: pointer;
}

h1 {
    color: gold;    
}

h1#contact {font-family: 'Times New Roman', Times, serif;
    font-size: 36px;}


    h1#portfolio {font-family: 'Times New Roman', Times, serif;
      font-size: 36px;}

h1#services{font-family: 'Times New Roman', Times, serif;
  font-size: 36px;}
}

h2 {
    color:gold;
    
}

h3.panel-title {
                color: black;
}

i {
   color: white;
}    

.container {text-align: center;}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0; 
      
 }
     
     /* Add a hover effect (blue shadow) */
    
img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }



.img-full{
          width:100%;
}

.intro {font-family: 'Old English Text', serif;
        font-size: 18px;
        color: white;}

input {
       height: 45px;
}




.jumbotron-main {margin:0;
                 padding:0;
                 font-size:48px;
                 background-image: radial-gradient(lightgrey, grey, black);                              
}



  
ul.newbar li  {display: inline-block; 
              text-align: center;
              text-decoration: none;
}

nav a:hover {
             color: lightgrey;
             background-color: transparent;
}

.nav > li > a:hover {
                     background-color: transparent;
}


.panel-default {text-align: center;}

.panel-body{
            background-color: black;

}

.panel-body  p {
                color:white;
}

p .lead {
         margin top: -130px;
}

.row  {display:inline-block;
      text-align:center;
}

.scriptcolor {
  color:cyan; 
  text-align: center;
  font-size: 16px;
}

ul.service {
  color:gold;
  }


#text {color: silver;}


#thumb1, #thumb2, #thumb3, #thumb4{
             margin-left: 0;
             margin-right: 0;
           }

ul.service {
            
            text-align: left; 
            list-style-type: none;
            text-decoration: none;
            font-size: 21px;
           }

/* Begin Media Queries */
/* @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
/* @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

} */

/* Landscape */
/* @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

} */ */

 @media screen and (max-width: 1920px) /* and (min-width: 1080px)*/ { 
    
  .container {
              width:100%;
  }
    
      
     nav {
          padding:15px;
          text-align: center;
  }
    
                      

     .navbar ul {
                 text-align: center;         
    }            
  
     .newbar {margin-left: auto;
      margin-right: auto;}

      .newbar ul li {text-decoration: none;}

     #thumb1, #thumb2, #thumb3, #thumb4 {
                                        margin-left:0;
                                        margin-right:0;
     }
 
 
ul.service { 
            text-align:left; 
            list-style-type: none;
            text-decoration: none;
            font-size: 24px;
            margin-left: 200px;
}

 }

@media only screen and (max-width: 1300px) and (min-width: 992px) { 
      body {
            /* max-width: 100%; */
            font-size:21px;
          }

      nav {
           margin-right: auto;
           margin-left: auto;
           text-align:center;  
           display: inline;
      }
        
      .navbar {
               width: 320px;
       }

      .navpic  {
                width: 80%;
      }
     
     
             ul.service {
                          text-align: left; 
                          list-style-type: none;
                          text-decoration: none;
                          font-size: 21px;
                          margin-left: 50px;
             }
}


@media screen and (max-width: 991px) and (min-width: 769px) {

 .navpic {width: 75%;}

img{width: 450px;}

#langLogos img {width: 8%;
            height: auto;}
}

@media screen and (max-width: 768px) {


     .navpic {width: 55%;
}
    
.newbar {
         margin-left: auto;
         margin-right: auto;
         text-decoration: none;
  }    

}


@media screen and (max-width: 768px) and (min-width: 361px) {
   
   body {
         font-size: 12px;
         max-width: 100%;
   }
   
    #caption1, #caption2, #caption3, #caption4 {
                                                font-size:12px;
                                                text-align: center;
    }

    .container {
                width:100%;
    }

    #contact-form {
                    width: 100%;
    }

     img {width: 400px;
          height:auto;}

          #langLogos img {width: 8%;
                          height: auto;}
     nav    {   
            display: inline;
            text-align:center;
    }                     

    nav.navbar ul li a {margin:0px;
                    text-align: center;
    }

    .newbar {
            text-align: center;
            padding:0;
    }

    .newbar a {
              padding: 15px;
    }
    .navpic {width: 55%;
    }
        
    .newbar {
             margin-left: auto;
             margin-right: auto;
             text-decoration: none;
    }    
    
    p {
      font-size: 14px;
    }

    #thumb1, #thumb2, #thumb3, #thumb4 {                              
                                        margin-left: auto;
                                        margin-right:auto;
                                        font-size: 12px;
                                        padding:0;
}
    
    ul.service {
               margin-left: auto;
               margin-right: auto;
               list-style-type: none;
               text-decoration: none;
               font-size:14px;
   }
}

@media screen and (max-width:360px) {
    
  a {padding: 0 7px;}

  body {
        max-width: 100%;
}

 .container {
             width:360px;
}

img {
     width: 300px;     
}

#langLogos  img {width: 25%;
              height: 25%;}

nav {
     width:100%;
    }                

.navbar {
         width:360px;
}

nav.navbar ul li a {display: inline;
                    text-align: center;
                    margin: 0;
}

/* Make logo disappear when screen size is small */
 .navpic {
          display: none;
    }

.newbar {margin:0;
} 

#thumb1 {margin-left: -40px;}

#thumb3 {margin-left: -25px;}
#thumb4 {margin-left: -40px;}

ul.service {          
            text-align: left; 
            list-style-type: none;
            text-decoration: none;
            font-size: 20px;
            
  }
}
/* End Media Queries */